
*{
    margin:0;
    padding: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    border: border-box;
    font-family: sans-serif;
  
}
/* body{
    width: 80%;
    margin: 0 auto;
} */
a{
    text-decoration: none;
    color: black;
}
Header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    
    width: 80%;
    margin: 0 auto;

    img{
        height: 4rem;
    }
}
.items{
    
    display:flex;
    justify-content: flex-end;
    text-align: flex-start;  

}
.part{
    padding:0.5rem;
   
   text-align: end;
}
#small{
    font-size: 0.8rem;
    padding:0.1rem;
}
#mid{
    font-size: 0.9rem;
    padding:0.1rem;
}
#big{
    font-size: 1rem;
    padding:0.1rem;
}
.intro{
    height: 15rem;
   
    background-color :#1186d4;
    color:  white;
    
    margin-top: 2rem;
}
.introin{
    width: 80%;
    margin: 0 auto;
 
    padding-top: 2rem;
   
    .part1{
        padding-bottom: 6rem;
    }
  
}

.content{
margin-top: 2rem;
/* padding-left: 4rem;
padding-right: 4rem; */

}
.one{
    width: 80%;
    margin: 0 auto;
}
.two{
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}
.colorL{
    display: inline-block;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border: 1px solid #1186d4;
    margin-right: 0.1rem;
}

.colorB{
    display: inline-block;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: #1186d4;
}

.navbar{
    display: flex;
    justify-content: space-between;
width: 80%;
    margin: 0 auto;
    margin-top:2rem;

    p{
        display: inline;
    }
}

.hamburger{
    display: none;
}
/* .content{ 
h2{
    width: 80%;
    margin:0 auto;
}
} */

/* background: #D9D9D9; */
.three{
    h2{
        width: 80%;
        margin:0 auto; 
        padding-top: 1rem;
    }
}
.three{
    display:flex;
    flex-direction: column;
}

.half{
  width:80%;
  margin: 0 auto;
   margin-top: 1rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  
   
}


.row{
    position: relative;
}

.background{
    background-color: #1186d4;
    z-index: -1;
    position: absolute;
   bottom: 5.5rem;
    height: 9rem;
    width: 100vw;
 
}
.member{
    h3{
        padding: 0.2rem;
        text-align: center;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    i{
      
       
        padding:0.2rem;
    }
    hr{
       border:none;
       background-color: yellow;
        height:0.2rem;
        width: 60%;
        margin:0 auto;
    }
}
.member p{
    padding: 0.5rem;
    text-align: center;
}
/* image 17 */

.img1{
  
    width: 12rem;
    height: 16rem;
    background: url(one.png);
    /* background-size: cover; */
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
    background-position: center;
    transition: background 0.3s ease-in-out;
}

.img1:hover{
    background: url(Cone.png);
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center; 
}

.img2{
    background: url('two.png');
    width: 12rem;
    height: 16rem;
   
    
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;
   
    transition: background 0.3s ease-in-out;
}
.img2:hover{
    background: url('Ctwo.png');
    width: 12rem;
    height: 16rem;
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;

}
.img3{
    
    width: 12rem;
    height: 16rem;
    background: url(three.png);
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;
}

.img3:hover{
    background: url(Cthree.png);
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;
}
.img4{
    
    width: 12rem;
    height: 16rem;
    background: url(dev_one.png);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; 
    background-position: center; */
    /* background-size: contain; Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
    transition: background 0.3s ease-in-out;
}
.img4:hover{
    width: 12rem;
    height: 16rem;
    background: url(Cdev_one.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
}
.img5{
    
    width: 12rem;
    height: 16rem;
    background: url(dev_two.png);
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;
    transition: background 0.3s ease-in-out;

}
.img5:hover{
    background: url(Cdev_two.png);
    background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    background-repeat: no-repeat; 
    background-position: center;
}
.img6{
    
    width: 12rem;
    height: 16rem;
    background: url(dev_three.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
    transition: background 0.3s ease-in-out;
}

.img6:hover{
    background: url(Cdev_three.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
  
}
.img7{
    
    width: 12rem;
    height: 16rem;
    background: url(dev_one.png);
    /* background-size: contain; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center;  */
    background-size: cover;
    transition: background 0.3s ease-in-out;

}
.img7:hover{
    background: url(Cdev_one.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
   
}
.img8{
    
    width: 12rem;
    height: 16rem;
    background: url(dev_two.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
    transition: background 0.3s ease-in-out;

}
.img8:hover{
    background: url(Cdev_two.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
   
}
.img9{
    padding: 0.2rem;
    width: 12rem;
    height: 16rem;
    background: url(dev_three.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
    transition: background 0.3s ease-in-out;

}
.img9:hover{
    background: url(Cdev_three.png);
    background-size: cover; /* Change to 'contain' to maintain aspect ratio */
    /* background-repeat: no-repeat; 
    background-position: center; */
   
}
/* footer */
footer{
    padding-top: 5rem;

font-size: 0.9rem;

}
.columns{
    display: flex;
    
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
a{
    display: block;
}
}
.col1{
 img{
    height: 5rem;
    width: 6rem;
 }
 .add{
    padding: 0.2rem;
 }
 p{
    padding: 0.2rem;
 }
}

.col2{
    h3{
        padding: 0.2rem;
    }
    p{
        padding: 0.2rem;
    }
}


.col3{
    a{
        padding:0.2rem;
    }
}

.col4{
.box{
    height: 7rem;
    width: 12rem;
    background-color: rgb(122, 114, 104);
}

 p{
    display: inline-block;
    padding:0.2rem;
    /* padding-left: 0rem; */
}

}
.bottom1{
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: aquamarine;
    span{
        padding: 0.8rem;
    }
    .in{
        width: 80%;
        margin:0 auto;
    }
} 
.bottom2{
    background-color: black;
    color: white;
    .in{
        width: 80%;
        margin:0 auto;
    }
}
.h_LI{
    display: none;
}





@media screen and (max-width: 768px){
    .navbar{
        display:none;

    }
    .items {
        display: none;
    }
    .hamburger{
        /* display: block;
      Z-INDEX: 1000;
        cursor: pointer; */
      

        display: block;
        cursor: pointer;
        position: absolute; /* Position hamburger menu absolutely */
        top: 2rem; /* Position it at the top of the header */
        LEFT: 1rem; /* Adjust as needed */
        z-index: 1000; 
        background-color: white;
       
      

    }



    .h_icon:hover .h_LI {
        display: flex;
        flex-direction: column;
        /* padding: 2rem; */
        padding-right: 2rem;
        z-index: 1;
        p{
            padding: 0.5rem;
        }

        .items{
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            .part{
                text-align: left;
            }
        }
    }
  
 
}

